body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}

header {
  background: #222;
  color: white;
  text-align: center;
  padding: 30px;
}

.demo {
  background: #2563eb;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.demo:hover {
  background: #1d4ed8;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #f4f4f4;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:  #2563eb;
}

section {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

.project {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}